<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 <button ion-button color="dark" (click)="blinkFunction()" >Blink</button>

 <img [src]="base64Image" *ngIf="base64Image" />
 
</ion-content>
